.container {
    background: rgb(44,53,49);
    background: linear-gradient(90deg, rgba(44,53,49,1) 0%, rgba(17,100,102,1) 100%);   
    display: flex;
    color: white;

    input {
        background: rgba(209, 232, 226, 0.15);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: white;
    }
    .sidebar {
        width: 24rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .sidebar_items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 70%;
        }
        
        .sidebar_item {
            color: white;
            height: 4rem;
            display: flex;
            align-items: center;
            gap: 10px;
            background: rgba(209, 232, 226, 0.15);
            border-radius: 5px;
            cursor: pointer;
            padding: 5px 10px;
            img {
                width: 24px;
                height: 24px;
            }
            span {
                font-size: 18px;
            }
        }
        
        .sidebar_item:hover {
            background: rgba(209, 232, 226, 0.3);
        }
        
        .sidebar_footer {
            background: rgba(209, 232, 226, 0.15);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20%;
            gap: 16px;
            border-radius: 5px;
            .sidebar_button {
                background: #906F51;
                color: white;
                padding: 1rem 3rem;
                border-radius: 10px;
                cursor: pointer;
            }
            .sidebar_footer_account {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }  

    .main {
        width: 100%;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .main_header {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFCB9A;
            font-size: 20px;
        }
        .main_content {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            gap: 32px;
            width: 100%;
            height: 100%;
            box-shadow: 0px -2px 10px 0px rgba(233, 223, 255, 30%), 0px -2px 40px 0px rgba(187, 155, 255, 15%), inset 0px 0.5px 0px 0px rgba(255, 255, 255, 50%);
            p {
                font-size: 32px;
                width: 100%;
                text-align: center;
            }
            .main_add_paragraph {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    background: rgba(209, 232, 226, 0.05);
                    color: white;
                    padding: 1rem 12rem;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
                  
            }
            .add_paragraph_button {
                border: white 1px dashed;
                color: white;
                padding: 1rem 2rem;
                border-radius: 10px;
                cursor: pointer;
            }
            .add_paragraph_button:hover {
                background: rgba(209, 232, 226, 0.1);
                transition: ease 0.3s;
            }
            .textarea {
                width: 100%;
                background: rgba(209, 232, 226, 0.15);
                height: 200px;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
                border: 1px solid #ccc;
                resize: none;
            }
            .remove_button {
                margin-top: 10px;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
            .goal {
                display: flex;
                background: rgba(209, 232, 226, 0.15);
                padding: 3rem;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                width: 17vw;
                border-radius: 5px;
            }
            .goals_list {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2rem;
                margin-top: 10px;
            }
            .paragraph {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
            }
            .image_preview_container {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 10px;
            }
            
            .image_preview {
                width: 100px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ccc;
                border-radius: 10px;
                overflow: hidden;
            }
            
            .image_preview img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .remove_button:hover {
                background: rgba(136, 0, 0, 0.4);
                transition: ease 0.3s;
            }
        }
        .main_form {
            display: flex;
            gap: 10rem;
            .main-input-box {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            label {
                color: #9E9E9E;
            }
            .main_input {
                display: flex;
                flex-direction: column;
                border: 2px solid #ffffff;
                background : rgba(209, 232, 226, 0.15);
                width: 25vw;
                border-radius: 10px;
                gap: 10px;
                padding: 1rem;
            }
            .main_form_button{

                background: #116466;
                color: white;
                padding: 0rem 10rem;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
            }

        }
    }


.main_add_paragraph {
    position: relative;
}

.dropdown_menu {
    position: fixed;
    background-color: rgba(37, 48, 53, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 10vw;
    border-radius: 10px;
}

.dropdown_menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dropdown_menu li {
    border-bottom: #ffffff 1px solid;
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    width: 100%;
    height: 4rem;
    cursor: pointer;
}

.dropdown_menu li:hover {
    background-color: #696969;
}