.nav_bar {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,22,22,1) 60%, rgba(102,102,102,0.0) 100%);

    padding: 1.75rem 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    
    .logo {
        width: 1.5rem;
        height: 1.5rem;
    }

    .logo_text {
        font-size: 1.25rem;
        background: #D1E8E2;
        background: linear-gradient(to right, #D1E8E2 0%, #D9B08C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        bottom: 1px;
        font-weight: 400;

    }

    .align_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}